<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
  Ratings
  <hr>
    <a href="/">Homepage</a>
    <br>
    {% if session.get('logged_in_user_email') %}
    <a href="/logout">Log Out</a>
    {% else %}
    <a href="/signup-login">Sign Up or Log In</a>
    {% endif %}
    <br><br>
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endwith %}


  {% block content %} put your content here {% endblock %}

</body>
</html>

