{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h2>{{ movie.title }}</h2>
    <p>
        {{ movie.description }}
    </p>
    <br>
    <p>
        <b>Release Date:</b> {{ movie.released_at|datetimefilter("%b %d, %Y") }}<br>
        <b>Genre:</b> {{ movie.genre }}<br>
        <b>Rated:</b> {{ movie.rated }}
    </p>
    <br>

    <h3>User Ratings</h3>
    <div class="wrapper">
      <div class="table">
        
        <div class="row header">
          <div class="cell">
            <u>Rating Score</u>
          </div>
          <div class="cell">
            <u>Number of Votes</u>
          </div>
        </div>
        
        {% for score, count in count_score %}
        <div class="row">
          <div class="cell">
            <p>{{ score }}</p>
          </div>
          <div class="cell">
            <p>{{ count }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="row footer">
            <div class="cell">
                <p>
                    <!-- Page breaks if movie has no ratings for the variable avg_rating to use string formatting for two decimal places - Needed if/else statements-->
                    Average Rating: 
                    {% if avg_rating %}
                        {{ "{:.2f}".format(avg_rating) }} 
                    {% else %}
                        {{avg_rating}}
                    {% endif %}
                </p>
            </div>
        </div>

      </div>      
    </div>

    <div class="center-content">
        {% if session.get('logged_in_user_email') %}
            <form action="/movies/{{ movie.movie_id }}/rate-movie">
                <!-- Double check label format for drop down selection -->
                <label><b>Rate This Movie:</b></label>
                <select name="user_rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <input type="submit" class="rate-button">
            </form>
        {% endif %}

        {% if prediction %}
            <p>We predict you will rate this movie {{ prediction }}</p>
        {% endif %}
        
        {% if beratement %}
            <p>{{ beratement }}</p>
        {% endif %}
    </div>
    
</div>

{% endblock %}