{% extends 'base.html' %}
{% block content %}

    <h2>Movie Profile</h2>
    <ul>
        <li>Movie ID: {{ movie.movie_id }}</li>
        <li>Title: {{ movie.title }}</li>        
        <li>Released Date: {{movie.released_at}}</li>
        <li>IMDB: <a href="{{movie.imdb_url}}">IMDB</a> </li>

    </ul>

    <h2>Ratings</h2>
    <table>
        <tr>
            <td><b><u>Rating Score</u></b></td>
            <td><b><u>Number of Votes</u></b></td>
        </tr>

        {% for score, count in count_score %}
        <tr>
            <td>{{ score }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <b>Average Rating:</b> {{ "{:.2f}".format(avg_rating) }}

    <!-- Below code shows all rating scores -->
<!-- 
    <h2>Ratings</h2>
    <table>
        <tr>
            <td><b><u>Score</u></b></td>
        </tr>

        {% for rating in ratings %}
        <tr>
            <td>{{ rating.score }}</td>
        </tr>
        {% endfor %}
    </table> -->


{% endblock %}