{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2>My Movies</h2>


    <div class="wrapper">
      
      <div class="table">
        
        <div class="row header">
          <div class="cell">
            Movie
          </div>
          <div class="cell">
            Score
          </div>
        </div>
        
        {% for movie in user_movies %}
        <div class="row">
          <div class="cell">
            <p><a href="/movies/{{ movie.movie_id }}">{{ movie.title }}</a></p>
          </div>
          <div class="cell">
            <p>{{ movie.score }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="row footer">
            <div class="cell">
                <p><a href="/movies" class="white-link">Rate Next Movie?</a></p>
            </div>
        </div>
        
      </div>
      
    </div>
    
</div>
{% endblock %}