{% extends 'base.html' %}
{% block content %}

    <h2>User Profile</h2>
    <ul>
        <li>User ID: {{ user.user_id }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Age: {{user.age}}</li>
        <li>Zip code: {{user.zipcode}}</li>
    </ul>
    
    <h2>Movies Rated</h2>
    <table>
        <tr>
            <td><b><u>Movie Title</u></b></td>
            <td><b><u>Score</u></b></td>
        </tr>

        {% for movie in user_movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.score }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/movies">Rate a Movie?</a>

{% endblock %}